*{
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-style: oblique;
  padding: 0;
}


body {
  background-size: cover;
  background-color: rgb(128, 93, 216);
  height: 100vh;
  image-rendering: -webkit-optimize-contrast;
  margin: 0;
}

button {
  background-color: rgb(183, 221, 226);
}

input {
  background-color: rgb(243, 242, 241);
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 40px;
}
.widgets-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 2px solid black;
  border-radius: 8px;
  padding: 15px
}
img {
height: 10rem;
}

.hidden {
display: none;
}
